@page "/deletedemployee"
@using BlazorApp1.Models;
@inject BlazorApp1.Data.MyService MyService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<h3>DeletedEmployee</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Salary</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Age</th>
            <th>Skills</th>
        </tr>
    </thead>
    <tbody>
        @if (Employees != null)
        {
            @foreach (var employee in Employees)
            {
                <tr>
                    <td>@employee.Empname</td>
                    <td>@employee.EmpDesignation</td>
                    <td>@employee.EmpSalary</td>
                    <td>@employee.EmpGender</td>
                    <td>@employee.EmpEmail</td>
                    <td>@employee.EmpAge</td>
                    <td>@employeeDetails[employee.Empid]</td>
                    <td class="btn">
                        <button @onclick="() => RestoreEmployee(employee)" class="btn btn-outline-primary">Restore</button>                   
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<button @onclick="BackToList" class="btn btn-outline-primary">Back To List</button>

