@page "/mypage"
@using BlazorApp1.Models;
@inject BlazorApp1.Data.MyService MyService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<h3>My Page</h3>
<button @onclick="NavigateToInsertEmployee" class="btn btn-success">Add Employee</button>
<button @onclick="NavigateToDeletedEmployee" class="btn btn-success">Deleted Employee</button>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Salary</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Age</th>
            <th>Skills</th>
        </tr>
    </thead>
    <tbody>
         @if (Employees != null)
        {
            @foreach (var employee in Employees)
            {
                <tr>
                    <td>@employee.Empname</td>
                    <td>@employee.EmpDesignation</td>
                    <td>@employee.EmpSalary</td>
                    <td>@employee.EmpGender</td>
                    <td>@employee.EmpEmail</td>
                    <td>@employee.EmpAge</td>
                    <td>@employeeDetails[employee.Empid]</td>
                    
                    <td class="btn-group">
                        <button @onclick="() => EditClick(employee.Empid)" class="btn  btn-outline-primary">Edit</button>
                        <button @onclick="() => NavigateToDetailsEmployee(employee.Empid)" class="btn  btn-outline-primary">Display</button>
                        <button @onclick="() => DeleteEmployee(employee.Empid)" class="btn btn-outline-primary">Delete</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

